<header class="headerCont">
  <img class="imgMenu" src="../../assets/img/sprites/sprite_1/menu.png">
  <img class="imgMedal" src="../../assets/img/sprites/sprite_1/medal.png">
  <div class="titulo">ReservasUPB</div>

  <div class="menu">
    <a class="element_menu" id="btsec_inicio" (click) = "irAInicio()">Inicio</a>
    <a class="element_menu" id="btsec_espacios" (click) = "irAEscenarios()">Escenarios</a>
    <div class="dropdown">
      <a class="element_menu" id="btsec_deportes" (click)="subMenuDeportes()">Deportes</a>
      <div class="dropdown-content" id="myDropdown">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <a class="element_menu" id="btsec_contacto">Contacto</a>
    <a class="element_add_menu" id="btsec_login">Login</a>
    <a class="element_add_menu" id="btsec_cerrar_Secion">Cerrar Seción</a>
    <a class="element_add_menu" id="btsec_mis_reservas">Mis Reservas</a>
  </div>

  <img class="imgProfile" id="btsec_login_menu" src="../../assets/img/sprites/sprite_1/profile.png">
</header>