header.headerCont {
    width: 100%;
    color: white;
    margin: 0 auto;
    padding: 10px;
    background: -moz-linear-gradient(45deg, #6d0707 0%, #ff0026 100%); 
    background: -webkit-linear-gradient(45deg,  #6d0707 0%, #ff0026 100%); 
    background: linear-gradient(45deg, #6d0707 0%, #ff0026 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#009ec3',GradientType=1 );
}
  
header.headerCont h1{
    margin: 0px;
    width: 100%;
}

.titulo{
    display: inline-block;
    font-size: 50px;
    margin-left: 2%;
}

.menu{
    display: inline-block;
    font-size: 23px;
    margin-left: 15%;
}

.element_menu{
    display: inline;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;
}

.element_add_menu{
    // display: inline;
    display: none;
    padding: 15px;
    margin: 0 auto;
    cursor: pointer;
}

.imgMedal {
    display: inline-block;
    margin-left: 4%;
    vertical-align: text-bottom;
}

.imgProfile{
position: absolute;
top: 2%;
left: 90%;
cursor: pointer;
}

.imgMenu{
display: none;
cursor: pointer;
}
  
@media screen and (max-width:630px){
    header.headerCont h1{
        text-align: center;
    }
    
    .imgMedal{
        display:none;
    }
    
    .imgMenu{
        display: inline-block;
        cursor: pointer;
    }
    
    .imgProfile{
        display: none;
    }
    
    .titulo{
        font-size: 35px;
        margin-left: 3%;
        vertical-align: top;
        margin-top:3%;
    }
    
    .menu{
        // display:block;
        display: none;
    }
    
    .element_menu{
        display: block;
    }
    
    
    .element_add_menu{
        display: block;
    }
  }