<div class="mainContacto">
<img class="imgCto" src="../../assets/img/logo.png">
</div>
<div class="footerContacto">
  <div class="containerCto">
    <p class="titCto">Contactanos</p>
    <p class="eleCto">Cel :3104483961</p>
    <p class="eleCto">Email : reservasupb@upb.edu.co </p>
  </div>
  <div class="contRedes">
    <p class="titCto">Siguenos</p>
    <img class="imgRedes" src="../../assets/img/redes_sociales.png">
  </div>
  <div class="containerCto">
    <p class="titCto">Desarrolladores</p>
    <p class="eleCto">Juan Pablo Giraldo</p>
    <p class="eleCto">Santiago Londoño</p>
  </div>
  
  
</div>