.titulo{
    font-weight: bold;
    font-size: 45px;
    width: 50%;
    margin-left: 20%;
    text-align: center;
    display: inline-block;
}

.contTabla{
    width: 100%;
    padding: 5%;
}

#tabla_reservas{
    width: 90%;
}

.text-center{
    text-align: center;
}