
<!-- <div class="contDeporte">
  <div class="imgDeporte">
    <img src="../../assets/img/deportes/{{param}}.png">
  </div>
  <div class="tabla">
    <table id="horarios">
      <thead>
        <tr>
          <th></th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>          
        </tr>
      </thead>
      <tbody *ngIf="deporte != null">
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

  
<p class="titulo">
  {{param}}
</p>
<!-- <select class="select_dia"  > -->
<select class="select_dia" (change)="onChangeDia($event.target.value)">
   <option *ngFor="let c of lista_dias;let i = index" [value]="i"> {{c | date:'fullDate'}} </option>
</select>

<input type="text" [(ngModel)]="nombreDeporte">
<button (click)="agregarDeporte()">agregar</button>

<div class="contTabla" *ngIf="deporte != null">
  <table id="tabla_horarios">
    <thead>
      <tr>
        <th>Horario</th>
        <th>Escenario</th>
        <th>Reservar</th>
      </tr>
    </thead>
    <tbody *ngFor="let h of lista_horarios;let i = index"> 
      <tr>
        <td>{{h}} : 00</td>
        <td>{{param}}</td>
        <button (click) = "reservarHorario(i)">Reservar</button>
      </tr>
    </tbody>
  </table>
  <div *ngFor="let e of lstEscenarios;let i = index">
    <div>{{i}}</div>
      <div>{{e.$key}}</div>
  </div>
</div>
