.contDeporte{
    display: flex;
    justify-content: space-around;
}
.titulo{
    font-weight: bold;
    font-size: 45px;
    width: 100%;
    text-align: center;
}

.select_dia{
    width: 25%;
    margin: 5% 0% 0% 75%;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Tahoma; 
    display: block;
}