.contDeporte{
    display: flex;
    justify-content: space-around;
}
.titulo{
    font-weight: bold;
    font-size: 45px;
    width: 50%;
    margin-left: 20%;
    text-align: center;
    display: inline-block;
}

.contTabla{
    width: 100%;
    padding: 0 5% 0 5%;
    
}

#tabla_horarios{
    width: 90%;
}

.select_dia{
    width: 25%;
    margin: 5% 0% 0% 0%;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Tahoma;
    display: inline-block;
}

.text-center{
    text-align: center;
}

.circle{
    color:white;    
    border-radius: 50%;
    background-color: #7f060b;
}