
<!-- <div class="contDeporte">
  <div class="imgDeporte">
    <img src="../../assets/img/deportes/{{param}}.png">
  </div>
  <div class="tabla">
    <table id="horarios">
      <thead>
        <tr>
          <th></th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>          
        </tr>
      </thead>
      <tbody *ngIf="deporte != null">
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

  <!-- <select class="select_dia" (change)="onChange($event.target.value)" > -->
<p class="titulo">
  {{param}}
</p>
<input type="text" [(ngModel)]="nombreDeporte">
<button (click)="agregarDeporte()">agregar</button>
<select class="select_dia">
   <option *ngFor="let c of lista_dias;let i = index" [value]="i"> {{c | date:'fullDate'}} </option>
</select>
<div class="contTabla">
  <table id="tabla_horarios">
    <thead>
      <tr>
        <th></th>
        <th>Horario</th>
        <th>Escenario</th>
        <th>Reservar</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
