<!-- <div class="btn_cambio">
  <input type="checkbox" class="" (click)="cambiarEscenario()">boton</button>
</div> -->
<!-- <select class="btn_cambio" id="escenario_seleccionado" onChange="actualizarEscenario()">
  <option value="cancha_fundadores">Cancha Fundadores</option>
  <option value="polideportivo">Polideportivo</option>
  <option value="cancha_bloque19">Cancha de fútbol Bloque 19</option>
  <option value="cancha_tenis">Cancha de Tenis</option>
</select> -->

<!-- <ion-select [(ngModel)]="select_escenarios">
  <ion-option *ngFor="let esc of markers; let i = index" (ngModelChange)="onChange(i)">
      {{markers.nombre_escenario}}
  </ion-option>
</ion-select> -->

<select (change)="onChange($event.target.value)" >
  <option *ngFor="let c of markers;let i = index" [value]="i"> {{c.nombre_escenario}} </option>
</select>

<div class="btn_cambio">
  <button class="" (click)="cambiarImg()">boton</button>
</div>

<div [ngClass]="markers[0].nombre_escenario">
  <img id="img_escenario" src = "{{markers[0].src_img}}">
</div>

<div class="mapa">
  <!-- <h1>{{ title }}</h1> -->
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="markers[0].lat" [longitude]="markers[0].lng"></agm-marker>
  </agm-map>
</div>