.escenario{
    display: inline-block;
    width: 35%;
    height: 320px;
    margin-left: 10%;
    margin-top: 5%;
    background-color: black;
    border: none;
    vertical-align: top;
    &:hover{
            box-shadow:
            1px 1px #53a7ea,
            2px 2px #53a7ea,
            3px 3px #53a7ea;
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    }
}

#img_escenario{
    width: 100%;
    height: 100%;
}

.select_escenarios{
    width: 20%;
    margin: 5% 0% 0% 75%;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Tahoma; 
    display: block;
}

.mapa{
    display: inline-block;
    width: 35%;
    margin-left: 5%;
    margin-top:5%;
}

agm-map {
    width: 100%;
    height: 320px;
    display: inline-block;
  }

.hidden{
    display: none; 
}

@media screen and (max-width:630px){
    .escenario{
        display: block;
        width: 90%;
        height: 220px;;
        margin-left: 5%;
    }
    
    .select_escenarios{
        width: 50%;
        margin: 5% 0% 0% 45%;
        ;
    }
    
    .mapa{
        display: block;
        width: 90%;
        height: 220px;
    }
    
    
}