<!-- <div class="btn_cambio">
  <input type="checkbox" class="" (click)="cambiarEscenario()">boton</button>
</div> -->
<select class="btn_cambio">
  <option value="cancha_fundadores">Cancha Fundadores</option>
  <option value="polideportivo">Cancha de Tenis</option>
  <option value="cancha_bloque19">Cancha de Tenis</option>
  <option value="cancha_tenis">Cancha de Tenis</option>
</select>

<div class="cancha_fundadores">

</div>
<div class="polideportivo hidden">
  
</div>
<div class="cancha_bloque19 hidden">
  
</div>
<div class="tenis_escenario hidden">
  
</div>
<div class="mapa">
  <!-- <h1>{{ title }}</h1> -->
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="markers[0].lat" [longitude]="markers[0].lng"></agm-marker>
  </agm-map>
</div>