<main class="mainCont">
  <app-header></app-header>
  <!-- <app-auth></app-auth> -->
  <app-inicio></app-inicio>
  <!-- <router-oulet></router-oulet> -->
</main>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<!-- update the version number as needed -->
<script src="/__/firebase/4.12.1/firebase-app.js"></script>
<!-- include only the Firebase features as you need -->
<script src="/__/firebase/4.12.1/firebase-auth.js"></script>
<!-- initialize the SDK after all desired features are loaded -->
<script defer src="/__/firebase/init.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script>
  // Initialize the Firebase SDK
  var config = {
    apiKey: "AIzaSyAki17Jt5KtqZD0qVRTe3E4-SYrq8IUOEA",
    authDomain: "reservasupb.firebaseapp.com",
    databaseURL: "https://reservasupb.firebaseio.com",
    projectId: "reservasupb",
    storageBucket: "reservasupb.appspot.com",
    messagingSenderId: "608631006074"
  };
  firebase.initializeApp(config);
</script>