<!-- <div>
  <div>
    <img [@bounce]="bounce" id="c1" class="cuadro1">
  </div>
  <div>
    <img [@bounce]="bounce" id="c2" class="cuadro2 hidden">
  </div>
  <div>
    <img  [@bounce]="bounce" id="c3" class="cuadro3 hidden">
  </div>
  <div>
    <img [@bounce]="bounce" id="c4" class="cuadro4 hidden">
  </div>
</div> -->

<div>
  <img id="img_escenario_inicio" class="cuadro_inicio" src={{lista_src_escenarios[pos_actual]}}>
</div>

<button class="prev" (click)="plusSlides(-1)">&#10094;</button>
<button class="next" (click)="plusSlides(1)">&#10095;</button>

