
$black: #000000;
$white: #FFFFFF;
$gray-light: #CECECE;
$gray-dark: #808080;



$red: #ED2F3C;
$yellow: #FAC951;
$yellow-dark: #E3AF58;
$orange: #EC8330;
$green: #5cb85c;
$green-dark: #418D41;
$violet-light: #9D47DE;
$violet: #5C2D8B;
$pink: #D3609F;


