// Media Queries - breakpoints
$screen-320:     320px;
$screen-390:     390px;
$screen-480:     480px;
$screen-560:     560px;
$screen-620:     620px;
$screen-800:     800px;
$screen-992:     992px;
$screen-1024:    1024px;
$screen-1280:    1280px;