
  main.mainCont {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'HeroRegular';
  }

  body {
    background-color: #e6e4e4;
  }
  
  .hidden{
    display: none;
  }
  
  .link{
    background-color: transparent;
    border-color: transparent;
    font-weight: 400;
    color: #337ab7;
    border-radius: 0;
  }
  
  .link:hover{
      color: #23527c;
      text-decoration: underline;
      background-color: transparent;
      cursor: pointer;
  }